header {
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#header-left {
    margin-left: 20px;
    float: left;
}

#header-right {
    margin-right: 20px;
    float: right;
}




#description-div{
    position: relative;
    top: 10px;
    font-size: 16px;
    line-height:1.5;

}

#cafes{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 30px;
    bottom: 50px;
    line-height: 0.5;
    width: 50%;
    margin-left: 50px;
}

#cafe_photo{
    width: 100%;
    height: 80%;
    margin-right: 50px;
    margin-bottom: 80px;
}

#cafe_info{
    
    width: 320px;
    height: 500px;
}



.icon-yes:before {
    content: "✔"; /* Unicode of the checkmark */
    font-size: 20px; /* adjust the size */
    color: green;
}

.icon-no:before{
    content: " x"; /* Unicode of the checkmark */
    font-size: 20px; /* adjust the size */
    font-style: bold;
    color: red;
}

iframe{
    border: none;
    overflow: hidden;
}
